/* 
color
font-size
font-weight
background-color
background:url()
text-transform:uppercase
text-decoration:underline
font-family
box-shadow
border
border-radius
height
width
max-height
max-width
*/

/*

FLEX
display
justify-content
align-items
align-self
order
flex-wrap
flex-shrink
flex-grow
flex-basis
flex-direction

*/

/*

margin
padding
text-align

*/


/*

PSEUDO CLASS

:nth-child()
:nth-of-type()
:last-child


*/



/*


opacity
rgb
rgba()
linear-gradient
box-sizing
*/

/* selecteur */

/* class */

.myPgh {
    color: tomato;
}

/* ID */ 

#myPgh { 
    color: violet;
}

/* tag selector */ 


body {
    background-color: gray;
}

input [type="password"] {
    border:3 px solid red ;
}

img [title="img 1"] {

    width: 400px;
}

div ul li a {
    color: black;
    text-decoration: none;
}

/* je veux recuperer
le lien 
du 2 eme li
de l'ul 
dela div 
qui a l'id #mySeconDiv
*/

#mySeconDiv ul li:nth-child(2) a {
    color: pink;
}

#myThirdDiv p:first-child  {
    color: brown;
}

